* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a51080;
  padding: 50px 100px 0px;
  gap: 15px;
  text-align: center;
  width: 100%;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 0;
  }

  h1 {
    font-size: 2.5rem;
    color: #f9faf8;

    @media (max-width: 320px) {
      font-size: 1.6rem;
    }
  }

  .links-wrapper {
    display: flex;
    gap: 30px;
    list-style: none;
    flex-wrap: wrap;

    @media (max-width: 320px) {
      justify-content: center;
      font-size: 0.8rem;
    }
  }

  a {
    text-decoration: none;
    color: #e5e7eb;
  }
}

/* section 1 */

.section-1-container {
  padding: 100px;
  background-color: #a51080;
  width: 100%;

  @media (max-width: 1024px) {
    padding: 50px;
  }
}
/* hero section */

.hero-wrapper {
  display: flex;
  gap: 100px;

  @media (max-width: 1024px) {
    gap: 50px;
  }

  .hero-text-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 30px;

    h2 {
      color: #f9faf8;
    }

    p {
      color: #e5e7eb;
    }
  }

  .button-1 {
    background-color: #3695ad;
    border: none;
    padding: 1.4em;
    width: 150px;
    border-radius: 8px;
    font-weight: 600;
    color: #e5e7eb;
  }

  .hero-image-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    .hero-image {
      max-width: 100%;
      border: 3px solid #e5e7eb;
      border-radius: 12px;
    }
  }
}

/* section2 */

.section-2-container {
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  gap: 30px;
  width: 100%;

  h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: #a51080;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    .card-image-wrapper {
      display: flex;
      flex-direction: column;
      gap: 6px;
      align-items: center;

      > a {
        width: 100%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .card-image {
      width: 280px;
      height: 340px;
      object-fit: cover;
      border: 3px solid #3695ad;
      border-radius: 12px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .artist {
      color: #a51080;
      font-weight: 600;
      text-shadow: 0px 0px 30px #ee58c9;
    }
  }
}

/* section 3 */

.section-3-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e5e7eb;
  gap: 10px;
  width: 100%;

  .quote {
    text-align: start;
    font-weight: 300;
    font-size: 1.4rem;

    @media (max-width: 786px) {
      font-size: 1rem;
    }
  }

  .author {
    text-align: end;
    font-weight: 300;
  }
}

/* section 4 */

.section-4-container {
  padding: 100px 50px;
  display: flex;
  justify-content: center;
  background-color: #ffff;
  width: 100%;

  .signup-wrapper {
    display: flex;
    background-color: #3695ad;
    width: 800px;
    gap: 20px;
    justify-content: space-between;

    padding: 20px;
    border-radius: 10px;
    color: #e5e7eb;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    .info-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;

      @media (max-width: 1024px) {
        gap: 15px;
      }

      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .button-2 {
    width: 150px;
    min-width: 150px;
    height: 75px;
    font-size: 16px;
    color: #e5e7eb;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #a51080;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: #a51080;
  color: #e5e7eb;
  width: 100%;
}

/* Media queries for responsive layout */

@media (max-width: 1024px) {
  .hero-wrapper {
    flex-direction: column;

    .hero-text-wrapper {
      order: 1;
      align-items: center;
      text-align: center;
    }
  }

  .section-2-container {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .section-3-container {
    padding: 50px;
  }

  .section-4-container {
    padding: 50px;
  }

  footer {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .section-1-container {
    padding: 50px 20px;
  }
}
