* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


/* section 1 */

.section-1 {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #A51080;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 50px;
    list-style: none;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}




/* hero section */

.left-hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.left-hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.left-hero {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

.button-1 {
    background-color: #3695AD;
    border: none;
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #E5E7EB
}

.hero-image-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.hero-image {
    max-width: 100%;
    max-height: 100%;
    min-width: 350px;
    min-height: auto;
    object-fit: cover;
    border: 5px solid #E5E7EB;
    border-radius: 20px;
}




/* section2 */

.section-2 {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFF;
    gap: 50px;
}

.section-2 h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #A51080;
    text-shadow: 0px 0px 30px #EE58C9;
    text-align: center;
}

.cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
}

.card-image-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15px;    
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border: 4px solid #3695AD;
    border-radius: 20px;
}

.artist {
    font-size: 18px;
    color: #E920B7;
    font-weight: 500;
    text-shadow: 0px 0px 30px #EE58C9;
}




/* section 3 */

.section-3 {
    padding: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E5E7EB;
    gap: 30px;
}

.quote {
    text-align: start;
    font-weight: 300;
}
.author {
    text-align: end;
    font-weight: 300;
}




/* section 4 */

.section-4 {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    background-color: #FFFF;
}

.signup {
    display: flex;
    background-color: #3695AD;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    font-size: 18px;
    color: #E5E7EB
}

.button-2 {
    width: 150px;
    height: 75px;
    font-size: 18px;
    color: #E5E7EB;
    border: 3px solid #E5E7EB;
    border-radius: 10px;
    padding: 15px;
    background-color: #3695AD;
}




/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #A51080;
    font-size: 16px;
    color: #E5E7EB;
}