* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}   




/* header */

header {
    background-color: #A51080;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

h2 {
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 100px;
    list-style: none;
    flex-wrap: wrap;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}






/* hero section */

.hero-section {
    background-color: #A51080;
}

.hero-section .wrapper {
    display: flex;
    gap: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.left-hero {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

h1 {
    color: #F9FAF8;
}

.left-hero p {
    padding-bottom: 20px;
    color: #E5E7EB;
}

.button-1 {
    width: 150px;
    height: 75px;
    border: none;
    border-radius: 15px;
    background-color: #3695AD;
    font-size: 18px;
    font-weight: bo;
    color: #E5E7EB;
}


.image-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.hero-image {
    max-width: 100%;
    max-height: auto;
    min-width: 350px;
    min-height: auto;
    object-fit: cover;
    border: 5px solid #E5E7EB;
    border-radius: 20px;
}





/* featured artists */

